@font-face {
  font-family: p;
  src: url(fonts/OldCave-Lwv4.otf)
}  



p{
  font-family: p;
  text-shadow: 1px 0 0 #6b6868, 0 -1px 0 #a09d9d, 0 1px 0 #ffffff, -1px 0 0 #999797;

}


body{
  background-image: url(imgs/thoughts/im\ so\ sorry.gif);
}

* { 
  cursor: url(imgs/thoughts/ballfixed_.png), auto; 
}

a:hover, audio, img{
    cursor: url(imgs/thoughts/peprfixed_.png), auto;


}

.image-container {
  position: relative;
  width: 599px;
  height: 410px;
}

.bg {
  /* slightly smaller than the overlay so it fits inside the frame */
  width: 499px;
  height: 300px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 599px;
  height: 429px;
  pointer-events: none; /* lets mouse clicks go through the frame */
}
