@font-face {
  font-family: p;
  src: url(fonts/OldCave-Lwv4.otf)
}  

p{
  font-family: p;
  text-shadow: 1px 0 0 #6b6868, 0 -1px 0 #a09d9d, 0 1px 0 #ffffff, -1px 0 0 #999797;

}


body{
  background-image: url(imgs/thoughts/normal.jpg);
}

* { 
  cursor: url(https://cdn.discordapp.com/attachments/889693014866399252/1335065639311638608/ballfixed_.cur?ex=679ed044&is=679d7ec4&hm=9d90d81f02b6d946096dca6c02bd1a821daf5ba0df9f8f98a92704842ace63ce&), auto; 
}

a:hover, audio{
    cursor: url(https://cdn.discordapp.com/attachments/889693014866399252/1335065639642992753/peprfixed_.cur?ex=679ed044&is=679d7ec4&hm=61472e6635989a57f7f448499386118c378d0b7a6aec7f7c5b712ea4c31571af&), auto;


}
